<div class="col-md-6 col-lg-6 col-sm-12 club-list">
        <div class="box" ng-repeat="loc in locations">
                <img class="img-grid" ng-src="{{loc.image_url}}" alt="{{loc.name}}"/>
                
                <div class="relative">
                    <a ng-href={{loc.url}}>{{loc.name}} </a>
                    <br> {{loc.location.display_address[0]}} 
                    <br> {{loc.location.display_address[1]}} 
                    <br> {{loc.location.display_address[2]}} 
                    <br> <button ng-click="submit_attendance(loc,$index, loc.city)">Attend Event ({{loc.upvotes}})</button>
                </div>
                
            </a>
        </div>    
    </div>
